:root {
 /*mood*/
    --bg: #ffffff;
  --text: #222222;

  /*colors*/
  --color-primary:     #554fa4;
  --color-secondary:		#7f75a9;
  --color-accent:  	#fbe9c2 ;
  --color-neutral: 	#a99bae;
  --color-neutral-light: 	#d2c0b2;
  

  /*fonts*/
  --font-primary: "Cambria", "Cochin", "Georgia", "Times", serif;
  --font-secondary: sans-serif;

  /*font sizes*/
  --fs-h1: 3rem;
  --fs-h2: 2.4rem;
  --fs-h3: 1.2rem;
  --fs-body: 1rem;
  --fs-small: 0.875rem;


}

@media (prefers-color-scheme: dark) {
  :root {
    /*dark theme*/
    --bg: #0b0f18;
    --text: #f7f7fb;

    --color-primary:       hsl(274, 100%, 68%);
    --color-secondary:     #caab84;
    --color-accent:        #b65403;
    --color-neutral:       #cdd3df;
    --color-neutral-light: #303445;
  }

  header {
    background: #111427;
    box-shadow: 0 0 1rem rgba(0,0,0,0.6);
  }

  .book-card {
    background: #15182b;
    box-shadow: 0 10px 20px rgba(0,0,0,0.6);
  }

  .footer {
    background: linear-gradient(to right, #15182b, #1e2235);
  }

  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    background: var(--bg);
    color: var(--text);
   }

html {
  max-width: 100%;
  overflow-x: hidden;
}


/*----------------------------------------------------------header-------------------------------------------------------------------------------------------*/
#home,
#about,
#featured,
#arrival,
#review,
#blog {
 scroll-margin-top: 4.2rem;
}

header{
  margin:  0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  box-shadow: 0 0 1rem 0 var(--color-neutral-light);
  background: var(--bg);
  padding-bottom: 0.2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  
}

.logo img {
    width: 100%;
    max-width: 60px;  
    height: auto;      
    display: block;

}

.nav-bar{
    display: flex;
    gap: 2rem;
    a{
          text-decoration: none;
    font-family: var(--font-primary);
    font-size: var(--fs-h3);
    color: var(--color-primary);
    transition: 0.25s ease-in;
    font-weight: bold;
    }
}


.nav-bar a:hover {
  color: var(--color-accent);
}

.search-area{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  
  a{
  background-color: transparent;
  border: none;
  font-size:var(--fs-h3);
  color: var(--color-primary);
  text-decoration: none;
  }
}

.search-bar{
   display: flex;
  background: var(--color-accent);
  padding: 0.375rem 0.625rem;
  border-radius: 1rem;
  margin: 0.5rem;

}

.search-bar #text{
    border: none;
    background: transparent;
    outline: none;
    color: var(--color-primary);
    font-family: var(--font-secondary);
}

.search-bar #text::placeholder{
    color: var(--color-primary);
    font-family: var(--font-secondary);
}


.search-bar #btn-search{
    background-color:var(--bg);
    border: none;
    border-radius: 1rem;
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-size: var(--fs-small);
    font-weight: bold;
    transition: 0.3s;
    padding: 0.4rem 0.5rem;
    cursor: pointer;
}

.search-bar #btn-search:hover {
  background: var(--color-neutral);
  color: var(--bg);
  box-shadow: 0 0 10px var(--color-secondary);
}


.nav-toggle {
  display: none;
}


.nav-toggle-label {
  display: none;
  flex-direction: column;
  gap: 0.3rem;
  cursor: pointer;

}

.nav-toggle-label span {
  width: 1.3rem;
  height: 0.1rem;
  background: var(--color-primary);
}



