:root {
 /*mood*/
    --bg: #ffffff;
  --text: #222222;

  /*colors*/
  --color-primary:     #554fa4;
  --color-secondary:		#7f75a9;
  --color-accent:  	#fbe9c2 ;
  --color-neutral: 	#a99bae;
  --color-neutral-light: 	#d2c0b2;
  

  /*fonts*/
  --font-primary: "Cambria", "Cochin", "Georgia", "Times", serif;
  --font-secondary: sans-serif;

  /*font sizes*/
  --fs-h1: 3rem;
  --fs-h2: 2.4rem;
  --fs-h3: 1.2rem;
  --fs-body: 1rem;
  --fs-small: 0.875rem;


}

@media (prefers-color-scheme: dark) {
  :root {
    /*dark theme*/
    --bg: #0b0f18;
    --text: #f7f7fb;

    --color-primary:       hsl(274, 100%, 68%);
    --color-secondary:     #caab84;
    --color-accent:        #b65403;
    --color-neutral:       #cdd3df;
    --color-neutral-light: #303445;
  }

  header {
    background: #111427;
    box-shadow: 0 0 1rem rgba(0,0,0,0.6);
  }

  .book-card {
    background: #15182b;
    box-shadow: 0 10px 20px rgba(0,0,0,0.6);
  }

  .footer {
    background: linear-gradient(to right, #15182b, #1e2235);
  }

  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    background: var(--bg);
    color: var(--text);
   }

html {
  max-width: 100%;
  overflow-x: hidden;
}


/*----------------------------------------------------------header-------------------------------------------------------------------------------------------*/
#home,
#about,
#featured,
#arrival,
#review,
#blog {
 scroll-margin-top: 4.2rem;
}

header{
  margin:  0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  box-shadow: 0 0 1rem 0 var(--color-neutral-light);
  background: var(--bg);
  padding-bottom: 0.2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  
}

.logo img {
    width: 100%;
    max-width: 60px;  
    height: auto;      
    display: block;

}

.nav-bar{
    display: flex;
    gap: 2rem;
    a{
          text-decoration: none;
    font-family: var(--font-primary);
    font-size: var(--fs-h3);
    color: var(--color-primary);
    transition: 0.25s ease-in;
    font-weight: bold;
    }
}


.nav-bar a:hover {
  color: var(--color-accent);
}

.search-area{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  
  a{
  background-color: transparent;
  border: none;
  font-size:var(--fs-h3);
  color: var(--color-primary);
  text-decoration: none;
  }
}

.search-bar{
   display: flex;
  background: var(--color-accent);
  padding: 0.375rem 0.625rem;
  border-radius: 1rem;
  margin: 0.5rem;

}

.search-bar #text{
    border: none;
    background: transparent;
    outline: none;
    color: var(--color-primary);
    font-family: var(--font-secondary);
}

.search-bar #text::placeholder{
    color: var(--color-primary);
    font-family: var(--font-secondary);
}


.search-bar #btn-search{
    background-color:var(--bg);
    border: none;
    border-radius: 1rem;
    color: var(--color-primary);
    font-family: var(--font-primary);
    font-size: var(--fs-small);
    font-weight: bold;
    transition: 0.3s;
    padding: 0.4rem 0.5rem;
    cursor: pointer;
}

.search-bar #btn-search:hover {
  background: var(--color-neutral);
  color: var(--bg);
  box-shadow: 0 0 10px var(--color-secondary);
}


.nav-toggle {
  display: none;
}


.nav-toggle-label {
  display: none;
  flex-direction: column;
  gap: 0.3rem;
  cursor: pointer;

}

.nav-toggle-label span {
  width: 1.3rem;
  height: 0.1rem;
  background: var(--color-primary);
}

@media (max-width: 768px) {

  header {
    position: sticky; 
    top: 0;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-inline: 1rem;
    gap: 0.5rem;
  }

  .nav-toggle-label {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0.5rem;
  }


  .search-area {
    order: 0;               
    display: flex;
    align-items: center;
    gap: 0.4rem;
    width: auto;          
    margin: 0;
    margin-left: auto;       
  }

  .search-bar {
    width: 20rem;            
    max-width: 50vw;        
    margin: 0;
    padding: 0.2rem 0.5rem;
  }

  .search-bar #text {
    width: 100%;
    font-size: 0.8rem;
  }

  .search-bar #btn-search {
    padding: 0.15rem 0.5rem;
    font-size: 0.7rem;
    white-space: nowrap;
  }


  .nav-bar {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem 1.5rem;

    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border-bottom: 1px solid rgba(255,255,255,0.3);
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
    z-index: 20;
  }

  .nav-toggle:checked ~ .nav-bar {
    display: flex;
  }
}

/*---------------------------------------------------------------------featured----------------------------------------------------------------------*/

.books-carousel {
  padding: 3rem 1rem;
  background: linear-gradient(
    135deg,
    rgba(139, 8, 238, 0.06),
    rgba(255, 175, 14, 0.15)
  );
  font-family: var(--font-primary);
}

.books-header {
  max-width: 1200px;
  margin: 0rem auto 2rem;

  h2{
      font-size: var(--fs-h2);
  font-family: var(--font-primary);
  color: var(--color-primary);
  margin-bottom: 0.25rem;
  }
}



.books-header p {
  font-size: var(--fs-body);
  color: var(--color-neutral);
  font-family: var(--font-secondary);
}


.books-carousel-viewport {
  position: relative;
  max-width:100%;
  margin: 2rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
   background: transparent;
}



.books-gradient--right {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(248, 255, 245, 0.95),
    rgba(245, 255, 250, 0)
  );
}


.books-track {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem;

}


.books-carousel-viewport::-webkit-scrollbar {
  height: 0.5rem;
}
.books-carousel-viewport::-webkit-scrollbar-track {
  background: transparent;
}
.books-carousel-viewport::-webkit-scrollbar-thumb {
  background: rgba(169, 155, 174, 0.6);
  border-radius: 1rem;
}


.book-card {
  flex: 0 0 16rem;
  background: var(--bg);
  border-radius: 1.25rem;
  box-shadow: 0 10px 20px var(--color-secondary);
  overflow: hidden;
  display: flex;
 flex-direction: row;
}


.book-card:hover {
  transform: translateY(-8px) scale(1.03);
  box-shadow: 0 18px 40px var(--color-neutral-light);
  background:var(--bg); 

}

.book-img-wrap {
  position: relative;
  height:20rem;
  width: 100%;
  overflow: row;

  img{
      width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.6s ease;
  }
}


.book-card:hover .book-img-wrap img {
  transform: scale(1.08);
}

.book-tag {
  position: absolute;
  left: 0.85rem;
  top: 0.85rem;
  padding: 0.2rem 0.75rem;
  border-radius: 999px;
  font-size: 0.75rem;
  font-weight: 600;
  color: white;
  letter-spacing: 0.03em;
  backdrop-filter: blur(8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.18);
  animation: floatTag 3s ease-in-out infinite;
}

.book-tag--thriller {
  background: linear-gradient(135deg, #ff4b5c, #ff8a5c);
}
.book-tag--horror {
  background: linear-gradient(135deg, #1c1b29, #6b2148);
}
.book-tag--romance {
  background: linear-gradient(135deg, #ff6fa7, #ffb0c9);
}

.book-body {
  padding: 0.85rem 1rem 1.1rem;
  display: flex;
  flex-direction:column;
  gap: 0.2rem;
  flex-grow: 1;
}

.book-title {
  font-size: 1.05rem;
  color: var(--color-primary);
  margin: 0;
}

.book-author {
  margin: 0;
  font-size: 0.9rem;
  color: var(--color-neutral);
}

.book-meta {
 margin: auto;
}

.book-price {
  font-weight: 700;
  color: var(--color-primary);
}

.book-genre {
  color: var(--color-neutral);
  font-style: italic;
}


.book-btn {
  margin-bottom: 0.7rem;
  border: none;
  border-radius: 999px;
  padding: 0.2rem 0.2rem;
  align-self: flex-start;
  background: var(--color-accent);
  color: var(--color-primary);
  font-family: var(--font-secondary);
  font-size: var(--fs-small);
  cursor: pointer;
  text-transform: uppercase;
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease,
    filter 0.25s ease;
    font-weight: bold;
}

.book-card:hover .book-btn {
  transform: translateY(-2px);
  box-shadow: 0 10px 22px var(--color-neutral);
  filter: brightness(1.05);
  color: var(--color-accent);
  background-color: var(--color-neutral);
}

/*----------------------------------------------------------------blog-----------------------------------------------------------------------------------------------*/
.blog-container {
   
    margin: 0 auto;
    padding: 0 1.5rem 5rem;
    position: relative;
    overflow: hidden; 
 }


.posts-grid {
   margin: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem; 
}

.blog-card-container{
    background-color: transparent;
    border: none;
    overflow: hidden;
    display: flex; 
    transition: transform 0.3s, box-shadow 0.3s;
}


.blog-card-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px var(--color-secondary);
}

.card-image-wrapper {
    flex-shrink: 0; 
    width: 20rem;
    height: 20rem;
    img{
       width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    }
}

.card-content {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.card-tag {
    background-color:transparent;
    color:var(--color-primary);
    font-size: var(--fs-h3);
    font-weight: bold;
    padding: 0.2rem 0.6rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-family: var(--font-primary);
}

.card-text {
    color:var(-);
    font-size: 0.95rem;
    margin-bottom: 1rem;
    font-family: var(--font-secondary);
}

.read-more {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: bold;
    font-size: var(--fs-h3);
    align-self: flex-start;
}






.blog-card-container .card-image-wrapper {
    height: 15rem;
}

.post-vertical {
    flex-direction: column;
}

@media (max-width: 768px) {
  .blog-container {
    padding: 0 1rem 3rem;
    overflow-x: hidden;     
    overflow-y: visible;
  }

  .posts-grid {
    margin: 1.5rem 0;
    grid-template-columns: 1fr;
  }


  .blog-card-container {
    flex-direction: column; 
  }

  .card-image-wrapper {
    width: 100%;
    height: 200px;
  }

  .card-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


/*----------------------------------------------footer-----------------------------------------------*/


.footer {
  background:linear-gradient(to right, var(--color-neutral-light),var(--color-accent));
  box-shadow: 0 -4px 20px var(--color-accent);
  font-family: var(--font-primary);
  color: var(--color-neutral);
  width: 100%;
}

.footer-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1.5rem;
  padding-top: 2rem;
}

.footer-logo-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.footer-logo {
  width: 3rem;
  height: 3rem;
}

.footer-title {
  margin: 0;
  font-size: var(--fs-h3);
  color: var(--color-neutral);
}

.footer-about .footer-text {
  margin-top: 0.2rem;
  line-height: 1.2;
  color: var(--color-neutral);
}

.footer-heading {
  margin-bottom: 0.5rem;
  font-size: var(--fs-h3);
  color: var(--color-neutral);
}


.footer-links,
.footer-info {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: var(--font-secondary);
  color: var(--color-primary);
}

.footer-links a {
  text-decoration: none;
  color: var(--color-neutral);
  transition: color 0.25s ease;
}

.footer-links a:hover {
  color: var(--color-neutral-light);
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom:1rem;
    a{
        text-decoration: none;
  font-size: 0.85rem;
  padding: 0.25rem 0.7rem;
  border-radius: 1rem;
  border: 1px solid var(--color-neutral);
  color: var(--color-primary);
  transition: 0.25s ease;
      img{
          width: 2rem;   
          height: 2rem;     
         object-fit: contain;
          display: block;
      }
    }
}

.footer-social a:hover {
  background: var(--color-neutral);
  color: var(--color-primary);
}



.footer-newsletter {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
 margin: 1rem;
}

.footer-newsletter input {
  flex: 1;
  padding: 0.4rem 0.8rem;
  border-radius: 999px;
  border: 1px solid var(--color-secondary);
  outline: none;
  font-family: var(--font-secondary);
  font-size: var(--fs-small);

}

.footer-newsletter button {
  border: none;
  border-radius: 1rem;
  padding: 0.4rem 1.2rem;
  background: var(--color-primary);
  cursor: pointer;
  font-family: var(--font-primary);
  font-size: var(--fs-small);
  color: var(--color-accent);
}

.footer-bottom {
  padding: 0.5rem;
  text-align: center;
}

.footer-bar {
  width: 40%;
  max-width: 260px;
  height: 3px;
  background: var(--color-primary);
  border-radius: 999px;
  opacity: 0.35;
  margin: 0 auto 0.5rem;
}

.footer-credit {
  font-size: var(--fs-small);
  color: var(--color-neutral);
}

.footer-credit span {
  color: var(--color-primary);
  font-weight: bold;
}

@media (max-width: 768px) {
  .footer-newsletter {
    flex-direction: column;
    gap: 0.5rem;
  }

  .footer-newsletter input,
  .footer-newsletter button {
    width: 100%;
  }
}
